* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

header{
    height: 400px;
}

h1{
    position: relative;
    top: 200px;
    left: 30px;
}


#bluebox {
    width: 850px;
    height: 80%;
    background-color: blue;
    margin: 0 auto;
}

#whitebox {
    width: 850px;
    height: 12%;
    margin:  auto;
    background-color: white;
    text-align: right;

}

#Photobox {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: grey;
    position: relative;
    margin-left: 15px;
}



#headertext {
    color: white;
    position: relative;
    left: 225px;
}

ul {
    display:flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-weight: bold;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;

}




ul li {
    display: inline;
    border-right: 1px solid greenyellow;
    padding-right: 20px;
    padding-left: 20px;

   
}


#like, #follow, #contact {
    display: inline;
    color: black;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}

#aboutyourpage {
    color: black;
    font-size: 18px;
    font-weight: bold;
    flex-direction: column;
    border: 1px solid black;
    width: 328px;
    padding: 0;
    height: 50%;
    background-color: aqua;
}

#Apps {
    display:flex;
    flex-flow: row wrap;
    color: blue;
    font-size: 18px;
    font-weight: bold;
    flex-direction: column;
    border: 1px solid black;
    width: 512px;
    height: 50%;
    background-color: bisque;
}

#address, #contactnumber, #message {
    position: relative;
    top: 10px;

}

#welcome, #fwb, #livestream {
    position: relative;
    top: 10px;
}

.dabox {
    flex-flow: column wrap;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    background-color: grey;
}

.container {
    display:flex;
    width: 850px;
    margin: auto;
    justify-content: space-between;
}

.row {
    display:flex;
    margin:10px;
    padding:10px;
    border: 1px solid yellow;
}

.button-container {
    position: relative;
    top: 150px;
    left: 600px;
}

a {
    text-decoration: none;
}